@charset "UTF-8";

  body {
            background-color:lightseagreen;
            font-style: arial, helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: darkblue;
            background-color: darkorange;
        }

        h2 {
            color: darkred;
        }

        p {
            text-align: justify;
        }